@charset "utf-8";

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}



#centrador {
    position: relative;
    width: 100%;
    height: 100%;

}

header {
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg) no-repeat 50% 50%;
    background-size: cover;

}

.main {
    width: 100%;
    margin: 2em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    position: fixed;
    float: left;
    margin-left: 36px;
    margin-top: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;


}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    background: rgba(255, 255, 255, .8);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: .7s;
    transition: .7s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 20px
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

nav.white ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}
header{
    width: 100%;
}
.contenedor-servicios{
    background: url(../img/marketing-offline.jpg) no-repeat 50% 50%;
}
.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}




#imagen {


    width: 100%;
    padding-top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.servi2 {
    width: 100%;
    height: 100vh;
    background: url(../img/marketing1.jpeg) no-repeat 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.servi3 {
    width: 100%;
    height: 100vh;
    background: url(../img/marketing-offline.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}


.servi2 h1,
.servi3 h1 {
    font-size: 52px;
    color: #2D1654;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}

.btn {
    position: relative;
    margin:0 auto;
    margin-left: 40%;
    width: 80px;
    height: 80px;
    background-color: rgba(43, 179, 176, 1);
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 55px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid rgba(146, 146, 44, 1) 0px;
    border-radius: 50px;
}

.btn:hover {
    background-color: rgba(45, 22, 84, 1);
    opacity: 0.50;
    -moz-opacity: .50;
    -webkit-filter: alpha (opacity=50);
    filter: alpha (opacity=50);
}

.btn a {
    font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
    -webkit-transition: color 0.4s ease 0s;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    margin: calc(-1 * 0px) 0px 0;
    position: relative;
    white-space: nowrap;
}

.cajita1 {

    width: 80%;
    height: 50%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center line-height;
}

.cajita1 h3{
    margin-top: -20px;
    color: #2BB3B0;
    text-align: center;
    font-size: 40px;
    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}
.cajita1 p{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.logo-peke{
    width: 50px;
    height: 50px;
}
.cube{
    margin: 40px;
    height: 200px;
    display: inline-block;
    border: solid 2px #000;
    background: rgba(230,98,210,1);
    border-radius: 12px;
    width: 20%;
    padding: 20px;
}
.text-cube{
    padding-bottom: 10px;
}
.cube-s{
    text-align: center;
}

.icon-s{
    font-size: 90px;
    color: #fff;
}

@media(max-width:580px) {
    .logo {
        position: fixed;
        top: 0;
        padding-top: -15px;
    }
    nav ul {
        max-height: 0px;
        background: #000;
    }
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 20em;

    }
    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
    .cajita1 h1{
        font-size: 25px;
    }
    .cajita1 h3{
        margin-top: -15px;
        font-size: 20px;
    }
    .cajita1 p{
        margin-top: -15px;
        font-size: 8px;
    }
    .cajita1 em{

        font-size: 10px;
    }
    .btn{
        width: 50px;
        height: 50px;
    }
    .btn{
        margin-top: 30px;
        margin-left: 30px;
    }
    .cube{
        width: 80%;
    }
}
