@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    margin: 0;
    padding: 0;
    
}
.content-tel {
	background: ;
}
.tlefonos {
	width: 100%;
    height:40px;    
    background: rgb(21,41,62);

   
    
}
.tlefonos li{
	color: aliceblue; 
    font-size: 15px;
   
}
.tlefonos li:hover{
	background: #01ccc2;
    
}
.navmkt{
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(255,255,255);
    font-size: 18px;
    border: 1px solid;
    border-bottom-color: rgb(255,123,95);
         
}
   
}
.navmkt li a{
    color:black;
    opacity: 0.9;      
}

.navmkt li a:hover{
    color:rgb(255,123,95);
    opacity: 0.9; 
    font-weight: bold;
}
