body{
    margin: 0;
    padding: 0;
    
}
.content-tel {
	background: ;
}
.tlefonos {
	width: 100%;
    height: 40px;
    background: #007c91;
    
}
.tlefonos h5{
	text-align: right;
    margin-right: 2%;
}
.navmkt{
    background: #00acc1;
    justify-content: flex-end;
}
